<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://hcapp1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>hcapp1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HCApp1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$HCApp1</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="helpcentraldbEntities" Order="1" Enabled="False">
          <Destination Path="password=05f9ceff;persistsecurityinfo=True;user id=b85994aa31b608;server=us-cdbr-azure-southcentral-e.cloudapp.net;database=helpcentraldb;allowuservariables=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="HCApp.helpcentraldbEntities, HCApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="password=05f9ceff;persistsecurityinfo=True;user id=b85994aa31b608;server=us-cdbr-azure-southcentral-e.cloudapp.net;database=helpcentraldb;allowuservariables=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="HCApp.Models.ApplicationDbContext, HCApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>password=05f9ceff;persistsecurityinfo=True;user id=b85994aa31b608;server=us-cdbr-azure-southcentral-e.cloudapp.net;database=helpcentraldb;allowuservariables=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)helpcentraldbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/HelpCentralModel.csdl|res://*/HelpCentralModel.ssdl|res://*/HelpCentralModel.msl;provider=MySql.Data.MySqlClient;provider connection string="password=05f9ceff;persistsecurityinfo=True;user id=b85994aa31b608;server=us-cdbr-azure-southcentral-e.cloudapp.net;database=helpcentraldb;allowuservariables=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>