@Model HCApp.CustomerViewModel

@{
    ViewBag.Title = "LoginGood";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login Successful</h2>

<table class="scheduler_table_one">
    <tr>
        <th>Order Id</th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model.OrderList)
    {
        <tr>
            <td>
                @item.orderid
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.orderid }) |
                @Html.ActionLink("Details", "Details", new { id = item.orderid })  |
                @Html.ActionLink("Delete", "Delete", new { id = item.orderid })
            </td>
        </tr>
    }
</table>

<a href="~/orders/Create">Create Order</a>