@{
    ViewBag.Title = "HelpCentral Application Home Page";
}

<div class="jumbotron">
    <h1>HelpCentral Application</h1>
    <p class="lead">HelpCentral Application is a free application designed to bring together people with Genies who can help them with all sorts of stuff like walking the dog or helping with the chemestry homework.</p>
</div>
