@model HCApp.customer

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "customers", FormMethod.Post))
{
    <table class="loginview">
        <tr>
            <td>email:</td>
            <td>@Html.TextBoxFor(i => i.email)</td>
        </tr>
        <tr>
            <td>password:</td>
            <td>@Html.PasswordFor(i => i.password)</td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Login" />
            </td>
        </tr>
    </table>


}
