body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1,h2,h3,h4
{
font-family: helvetica, arial, sans-serif;
font-size: 1.5em;
	font-weight:normal;
	line-height:16.08px;
}
.loginview 
{
font-family: helvetica, arial, sans-serif;
margin-bottom:10px;
font-size: 1em;
	font-weight:normal;
	line-height:16.08px;
padding:3px 7px 2px 7px;
}
.loginview input[type="text"],.loginview input[type="password"]
{
	border:1px solid black;
	border-radius:10px;
	font-size:20px;
	padding:4px 7px;
}
.loginview input[type="submit"]
{
font-family: helvetica, arial, sans-serif;
font-size:1em;
padding:3px 7px 2px 7px;
background-color:white;
border: 1px solid black;
color:black;
margin-top:10px;
}
.loginview input[type="submit"]:hover
{
background-color:#3a5795;
border: 1px solid white;
color: white;

}
.scheduler_table_one 
{
	font-family: helvetica, arial, sans-serif;
    width: 80%;
    border-collapse: collapse;
    margin-bottom:10px;
}


.scheduler_table_one td, .scheduler_table_one th
{
	font-size: 1em;
	font-weight:normal;
	line-height:16.08px;
    border: 1px solid #000000;
    padding: 3px 7px 2px 7px;
    text-align: left;
}
.scheduler_table_one th
{
    font-size: 1em;
	font-weight:normal;
	line-height:16.08px;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #3a5795;
    color: #ffffff;
}

.scheduler_table_one a
{
	text-decoration:none;
	color: #3b5998
	
}

.scheduler_table_one a:hover
{
	text-decoration: underline;
}


